<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/phaser.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    <title>Wish Cards</title>
</head>
<body>
    <h1>Choose a card</h1>
    <a href="/adha"><img src="assets/images/islam/eid-adha1.png" alt=""></a>
    <a href="/purnima"><img src="assets/images/buddhism/buddh-purnima.jpg" alt=""></a>
    <a href="/dude"><img src="assets/images/dudeism/dudeism-new-cover-image.jpg" alt=""></a>
    <p>My best wishs</p>
    <p>Nazim</p>
    <a class="github-fork-ribbon" href="https://github.com/nazimboudeffa/wishcards-site" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
</body>
</html>
