<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/phaser.min.js"></script>
    <title>Wish Cards</title>
</head>
<body>
    <h1>Choose a card</h1>
    <a href="/adha"><img src="assets/images/islam/eid-adha1.png" alt=""></a>
    <a href="/purnima"><img src="assets/images/buddhism/buddh-purnima.jpg" alt=""></a>
    <p>Source code available on <a href="https://github.com/nazimboudeffa/wishcards-site">my GitHub repository</a></p>
    <p>Nazim.</p>
</body>
</html>
